*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
  
}
body
{
    background-color: skyblue;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.box {
    margin: 0 auto;
    height:320px;
    width: 226px;
    display: flex;
    background-color: white;
    position: relative;
    overflow: hidden;

}
.content{
    background-color: white;
    position: absolute;
    width: 100%;
    top:76%;
    transition: all 400ms linear;

}
.brand{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.cart h3 , h5{
   margin: 0px 12px;
}
.colbox {
    display: flex;
    justify-content: start;
    margin: 4px 4px;
}
.color1{
    background-color: rgb(131, 86, 19);
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.color2{
    background-color: rgb(6, 141, 51);
    height: 20px;
    width: 20px;
    margin-left: 5px;

}
.color3{
    background-color: rgb(253, 18, 18);
    height: 20px;
    width: 20px;
    margin-left: 5px;

}
.btn{
    padding: 3px 73px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    background-color: black;
}

.box:hover .content{
    top: 30%;
}
.content h2{
    font-weight: 500;
    font-size: 20px;
}
.content h2 span {
    
    font-size: 12px;
    font-weight: 300;
}